.invalid {
    color: red;
    font-size: 10px;
}

.text-center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}